body {
    font-family: 'DejaVu Sans', sans-serif;
    color: #FCFCFC;
    background-color: #2c2c2c;
    margin: 40px;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
}

h1 {
    color: #83FFE6;
}

a {
    color: #FF5F5F;
}
