:root {
    --white: #F5F9E9;
    --black: #2c2c2c;
    --blue: #48ACF0;
}

body {
    font-family: 'DejaVu Sans', sans-serif;
    color: var(--white);
    background-color: var(--black);
    margin: 40px;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
}

h1 {
    color: var(--blue);
}

